#circuit-right-bottom-login{
  position: fixed;
  right: 0;
  bottom: 0;
  transform-origin: left;
  -ms-transform: rotate(180deg);
  transform: rotate(180deg) scale(55%);
  z-index: 1;
}
#circuit-left-top-login{
  position: fixed;
  left: 0;
  top: 0;
  transform: scale(55%);
  z-index: 1;
}
#login-form-area{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  min-width: fit-content;
  min-height: fit-content;
  height: auto;
  padding: 20px;
  border-radius: 5px;
  border-width: 2px;
  border-color: var(--dark-magenta);
  background-color: var(--background);
  border-style: groove;
  box-sizing: border-box;
  z-index: 2;
}
