@import "bootstrap/dist/css/bootstrap.min.css";

@font-face {
  font-family: "BlackSword";
  src: url('./assets/blacksword/Blacksword.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Mono_Cozy";
  src: url('./assets/BrassMono/regular_cozy.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Sunshine";;
  src: url('./assets/sunshine-state/Sunshine State.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: var(--background) !important;
}
:root{
  /***********COLORS************/
  --dark-magenta: #a30052;
  --medium-magenta: #b2015a;

  --light-magenta: #fd8dc6;
  --dark-teal: #519da8;
  --ultraviolet-glow: #1900f8;
  --indigogo: #6F779D;
  --periwinkle: #ACBAD5;
  --midnight: #342D47;
  --greyrocking: #B8B9BB;
  --background: #0d0d13;
  --gatorade: #a6fa42;



  /********PIXELS*********/
  --top-most-point: 120px;
  --bottom-most-point: 45px;
  --classic-margin: 20px;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }




