@import "bootstrap/dist/css/bootstrap.min.css";
body{
  background-color: var(--background);
}
:root{
  /***********COLORS************/
  --dark-magenta: #a30052;
  --light-magenta: #fd8dc6;
  --dark-teal: #519da8;
  --ultraviolet-glow: #1900f8;
  --indigogo: #6F779D;
  --periwinkle: #ACBAD5;
  --midnight: #342D47;
  --greyrocking: #B8B9BB;
  --background: #0d0d13;
  --gatorade: #a6fa42;



  /********PIXELS*********/
  --top-most-point: 120px;
  --bottom-most-point: 70px;
  --classic-margin: 20px;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }




