/*

.form-select, option, input, input:focus {
  border: var(--bs-border-width) solid var(--dark-magenta) !important;
  color: var(--periwinkle);
  background-color: var(--indigogo);
}
label{
  color: var(--periwinkle);
}
option:focus{
  box-shadow: 0 0 10px 100px var(--indigogo) inset;
}

#database-choice-dropdown{
  width: calc((95vw) / 12);
  float: left;
  height: calc(3.5rem + calc(var(--bs-border-width) * 2))
}
#attribute-choice-dropdown{
  width: calc((95vw) / 12);
  float: left;
  margin-left: calc(((95vw) / 12) * 9);
  height: calc(3.5rem + calc(var(--bs-border-width) * 2))
}
#attribute-search{
  width: calc((95vw) / 12);
  float: left;
  margin-left: 0;
}


.odd > td:not(.breathing-room-table-th-td){
  background-color: var(--indigogo);
}
.even > td:not(.breathing-room-table-th-td){
  background-color: var(--periwinkle);
}

.form-floating > label::after {
  background-color: transparent !important;
  color: var(--periwinkle);

}

 */



thead th{
  position: sticky;
  top: 0;
}

#table-container{
  height: calc(100vh - var(--top-most-point) - (6 * var(--classic-margin)) - var(--bottom-most-point) - 100px);
  width: calc(100vw - 4 * var(--classic-margin));
  overflow-y: scroll;
  overflow-x: scroll;
  margin-top: calc(1 * var(--classic-margin));
  mask-image: linear-gradient(to bottom, black calc(100% - 48px), transparent 100%);
  /*
  border: 2px solid teal;
  */
}
label {
  color: var(--dark-magenta);
}
th, td{
  z-index: 4;
  text-align: center;
  border-radius: 5px;
  color: var(--dark-magenta);
}

.breathing-room-table-th-td, .breathing-room-table-rows {
  background-color: var(--background);
  opacity: 0;
  border: none !important;
}

th{
  background-color: var(--background);
  font-style: italic;
}

#searching-container{
  /*
  border: 2px solid teal;
  */
  width: calc(100vw - 4 * var(--classic-margin));
  height: 105px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
  align-content: flex-start;
}

#test{
  width: calc(11vw - 4 * var(--classic-margin));
  height: 105px;

}

#database-choice-dropdown{
  margin-right: 50%;
}

select{
  width: 25%;
}

#attribute-search{
  width: 25%;
  z-index: 9;
  margin-top: 5px;
}

tr:nth-child(2n) td{
  background-color: var(--background);
  /*background-color: var(--indigogo);*/
  border: 1px solid var(--dark-magenta);
  cursor: pointer;
}

tr:nth-child(4n) td{
  background-color: var(--background);
  cursor: pointer;
}

tr:hover td {
  border: 3px solid var(--dark-magenta);
}

select, input{
  border: var(--bs-border-width) solid var(--dark-magenta) !important;
  color: var(--dark-magenta);
  background-color: var(--background);
}

.form-select:focus, .form-control:focus {
  box-shadow: inset 0 1px 1px rgba(163, 0, 82, 0.075), 0 0 8px rgb(163, 0, 82) !important;
}
.form-control:focus {
  background-color: var(--background) !important;
}
.form-floating > label::after {
  background-color: transparent !important;
}

#i-hate{
  flex-direction: row;
  justify-content: center;
  height: 100px;
}
.add-button{
  border-radius: 50%;

  background-color: inherit;
  width: 55px;
  height: 55px;
}


