/*

.form-select, option, input, input:focus {
  border: var(--bs-border-width) solid var(--dark-magenta) !important;
  color: var(--periwinkle);
  background-color: var(--indigogo);
}
label{
  color: var(--periwinkle);
}
option:focus{
  box-shadow: 0 0 10px 100px var(--indigogo) inset;
}

#database-choice-dropdown{
  width: calc((95vw) / 12);
  float: left;
  height: calc(3.5rem + calc(var(--bs-border-width) * 2))
}
#attribute-choice-dropdown{
  width: calc((95vw) / 12);
  float: left;
  margin-left: calc(((95vw) / 12) * 9);
  height: calc(3.5rem + calc(var(--bs-border-width) * 2))
}
#attribute-search{
  width: calc((95vw) / 12);
  float: left;
  margin-left: 0;
}


.odd > td:not(.breathing-room-table-th-td){
  background-color: var(--indigogo);
}
.even > td:not(.breathing-room-table-th-td){
  background-color: var(--periwinkle);
}

.form-floating > label::after {
  background-color: transparent !important;
  color: var(--periwinkle);

}

 */



thead th{
  position: sticky;
  top: 0;
}

#table-container{
  height: calc(100vh - var(--top-most-point) - (5 * var(--classic-margin)) - var(--bottom-most-point) - 100px);
  width: calc(100vw - 4 * var(--classic-margin));
  overflow-y: scroll;
  overflow-x: scroll;
  margin-top: calc(2 * var(--classic-margin));
  mask-image: linear-gradient(to bottom, black calc(100% - 48px), transparent 100%);
  /*
  border: 2px solid teal;
  */
}

th, td{
  z-index: 4;
  text-align: center;
  border-radius: 5px;
}

.breathing-room-table-th-td, .breathing-room-table-rows {
  background-color: var(--background);
  opacity: 0;
}

th{
  background-color: var(--midnight);
  font-style: italic;
}

#searching-container{
  /*
  border: 2px solid teal;
  */
  width: calc(100vw - 4 * var(--classic-margin));
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
  align-content: flex-start;
}

#database-choice-dropdown{
  margin-right: 50%;
}

select{
  width: 25%;
}

#attribute-search{
  width: 25%;
}

tr:nth-child(2n) td{
  background-color: var(--indigogo);
}

tr:nth-child(4n) td{
  background-color: var(--periwinkle);
  color: var(--midnight);
}

select{
  border: var(--bs-border-width) solid var(--dark-magenta) !important;
  color: var(--periwinkle);
  background-color: var(--indigogo);
}



