
<div id="searching-container">
  <select (change)="setDataBeingViewed($event)" [(ngModel)]="selectedTable"
          id="database-choice-dropdown" class="decorated h-75 form-select" aria-label="Default select example">
    <option selected>Choose Table</option>
    <option [ngValue]="this.companies" value="1">Companies</option>
    <option [ngValue]="this.departments" value="2">Departments</option>
    <option [ngValue]="this.employees" value="3">Employees</option>
    <option [ngValue]="this.microcomponents" value="4">Micro Components</option>
    <option [ngValue]="this.orders" value="5">Orders</option>
    <option [ngValue]="this.parts" value="6">Parts</option>
    <option [ngValue]="this.permissionLevels" value="7">Permission Levels</option>
    <option [ngValue]="this.plants" value="8">Plants</option>
    <option [ngValue]="this.purchasedParts" value="9">Purchased Parts</option>
    <option [ngValue]="this.roles" value="10">Roles</option>
    <option [ngValue]="this.vendors" value="11">Vendor</option>
  </select>

  <!--<select id="attribute-choice-dropdown" class="decorated form-select" aria-label="Default select example">
    <option selected>Choose Attribute</option>
    <option value="1">ID</option>
    <option value="2">Name</option>
    <option value="3">Role</option>
    <option value="4">Salary</option>
    <option value="5">Birthday</option>
  </select>

  <div id="attribute-search" class="form-floating">
    <input type="text" class="form-control" id="floatingInput" placeholder="attribute">
    <label for="floatingInput">Search Attribute</label>
  </div>-->
</div>

@if (this.errorMessage)
{
  <p>{{this.errorMessage}}</p>
}

@else
{
  <div id="table-container">

  <table class="table table-borderless table-dark">
    <thead>
      <tr>
<!--
        for each value in this.attributes, there should be a header row.
-->
        <th class="breathing-room-table-th-td"></th>

        @for(att of this.attributes; track $index){
          <th [id]=att>{{att}}</th>
          <th class="breathing-room-table-th-td"></th>

        }
      </tr>
    </thead>
    <tbody>
    @for(record of this.selectedTable; track $index)
    {
      <tr>
        @for(att of this.attributes; track $index)
        {
          <td class="breathing-room-table-rows"></td>
          <td class="breathing-room-table-rows"></td>
        }
      </tr>

      <tr>
        <td class="breathing-room-table-rows"></td>
        @for(att of this.attributes; track $index)
        {
          <td>{{record[att]}}</td>
          <td class="breathing-room-table-th-td"></td>
        }
      </tr>
    }
    </tbody>
  </table>
  </div>
}
