<div id="searching-container">
  <label>Choose a Table
  </label>
    <select (change)="this.setDataBeingViewed($event)" [(ngModel)]="this.selectedTable"
          id="database-choice-dropdown" class="decorated h-50 form-select" aria-label="Default select example">
    <option [ngValue]="this.departments" value="1">Departments</option>
    <option [ngValue]="this.employees" value="2">Employees</option>
    <option [ngValue]="this.microComponents" value="3">Micro Components</option>
    <option [ngValue]="this.parts" value="4">Parts</option>
    <option [ngValue]="this.permissionLevels" value="5">Permission Levels</option>
    <option [ngValue]="this.plants" value="6">Plants</option>
    <option [ngValue]="this.purchasedParts" value="7">Purchased Parts</option>
    <option [ngValue]="this.roles" value="8">Roles</option>
    <option [ngValue]="this.vendors" value="9">Vendors</option>
  </select>
</div>

@if (this.errorMessage)
{
  <p>{{this.errorMessage}}</p>
}

@else
{
  <div id="table-container">
  <table class="table table-borderless table-dark">
    <thead>
      <tr>
        <th class="breathing-room-table-th-td"></th>

        @for(att of this.attributes; track $index)
        {
          <th [id]=att>{{att}}</th>
          <th class="breathing-room-table-th-td"></th>
        }
      </tr>
    </thead>
    <tbody>
    @for(record of this.selectedTable; track $index)
    {
      <tr>
        @for(att of this.attributes; track $index)
        {
          <td class="breathing-room-table-rows"></td>
          <td class="breathing-room-table-rows"></td>
        }
      </tr>

      <tr (click)="this.onRowClick(record)">
        <td class="breathing-room-table-rows"></td>
        @for(att of this.attributes; track $index)
        {
          <td>{{record[att]}}</td>
          <td class="breathing-room-table-th-td"></td>
        }
      </tr>
    }
    </tbody>
  </table>
  </div>
}
