.form-container {
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
}

#company-name{
  font-family: "Sunshine", sans-serif;
  letter-spacing: 2px;
  font-size: 2.75em;
  padding-top: 0;
  color: var(--dark-magenta)
}

.form-floating.mb-3:nth-child(2) {
  margin-top: 10px; /* Adjust the margin to stagger the input */
}

.form-control {
  background-color: inherit;
  color: var(--dark-magenta);
  border: 1px solid var(--dark-magenta);
}


.form-control::placeholder {
  opacity: 0;
  color: var(--dark-magenta);
}

.form-control:focus {
  border-color: var(--dark-magenta);
  box-shadow: 0 0 0 0.2rem var(--ultraviolet-glow);
}

label::after {
  display: none;
}

.btn-primary {
  background-color: var(--background);
  border-color: var(--medium-magenta);
  color: var(--dark-magenta);
  display: block;
  width: 100%;
  margin-top: 20px;
}

.btn-primary:hover {
  background-color: var(--background);
  border-color: var(--medium-magenta);
  color: var(--dark-magenta);
  box-shadow: 0px 0px 10px 2px var(--dark-magenta);
}

.login-link {
  margin-top: 15px;
  text-align: center;
}

.login-link a {
  color: var(--dark-magenta);
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

.form-floating > label::after {
  background-color: transparent !important;
  color: var(--dark-magenta) !important;
  font-family: "Mono_Cozy", sans-serif;
}
.form-floating input{
  font-family: "Mono_Cozy", sans-serif;

}
.form-floating label{
  font-family: "Mono_Cozy", sans-serif;
  color: var(--dark-magenta);
}
