.navbar{
  width: 50vw;
  position: absolute;
  right: 2.5vw;
  top: 0;
  height: 180px;
  min-height: fit-content;
  z-index: 0;
}
.navbar-block{
  width: 100vw;
  color: #a6fa42 !important;
  position: absolute;
  right: 0;
  top: 0;
  height: 180px;
  min-height: fit-content;
}
