
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" routerLink="login" routerLinkActive="active">
    <img ngSrc="/logo_cd.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Resist
  </a>
  <li class="nav-link" routerLink="login" routerLinkActive="active">
    LOG IN
  </li>
  <li class="nav-link"  routerLink="register" routerLinkActive="active">
    REGISTER
  </li>
  <li class="nav-link"  routerLink="database" routerLinkActive="active">
    DATABASE
  </li>
  <li class="nav-link"  routerLink="profile" routerLinkActive="active">
    PROFILE
  </li>
  <li class="nav-link"  routerLink="record" routerLinkActive="active">
    RECORD
  </li>
</nav>
