#logo-container{
  justify-content: center;
  align-items: center;
  display: flex;
  height: 162px;
  width: 162px;
}
#fucker{
  transform-origin: left top;
  transform: scale(8%) rotate(-90deg);
  position: absolute;
  top: 90px;
  right: calc(2.5vw - 90px);
  z-index: 1;
}
#logo-cir-2{
  transform: rotateX(180deg);
}
#top-left{
  position: absolute;
  transform-origin: left top;
  transform: rotate(90deg);
}
#company-name{
  position: absolute;
  font-variant: small-caps;
  color: white;
  z-index: 100;
  top: 90px;
  right: calc(2.5vw - 10px);
}

html, body
{ height: 100% }

#logo-bg-div1{
  width: 160px;
  height: 160px;
  border-radius: 10%;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 0;
  opacity: 0.2;
}
