<!--Image & Box-->
<div class="test-box" style="width: 1000px; height: 1000px;">
  <img ngSrc="/CircuitGrid.png" height="1000" width="1000" alt="test-img">
</div>

<!--How to repeat a div-->
<!--@for(i of [].constructor(10); track $index)
{
  <div>{{$index}}</div>
}-->

<!--Line 2-->
<div class="electric-pulses line-2 thick-line"></div>

<!--Line 13-->
<div class="electric-pulses line-13 thick-line"></div>
<div class="electric-pulses line-13 thick-line" style="animation-delay: 250ms;"></div>
<div class="electric-pulses line-13 thick-line" style="animation-delay: 500ms;"></div>

<!--Line 14-->
<div class="electric-pulses line-14 thick-line"></div>

<!--Line 15-->
<div class="electric-pulses line-15 thick-line"></div>
