#profile-container{
  width: calc(100vw - 2 * var(--classic-margin));
  margin: calc(var(--top-most-point) + var(--classic-margin)) /*top*/
          var(--classic-margin) /*both sides*/
          calc(var(--classic-margin) + var(--bottom-most-point)) /*bottom*/;
}

#profile-formsies{
    position: relative;
    margin: var(--classic-margin);
    padding: 20px;
}
