
#footer-dividend{
  width: 100vw;
  height: calc(var(--bottom-most-point) - 20px);
  border: 2px solid teal;
  position: absolute;
  left: 0;
  bottom: 0;
  color: var(--periwinkle);
  display: inline-flex;
  justify-content: space-between;
}
#copywrite{

}
#contact:hover{
  cursor: pointer;
  scale: 1.1;
}

