#footer-dividend{
  width: 100vw;
  height: calc(var(--bottom-most-point) - 20px);
  border-top: 2px solid var(--dark-magenta);
  position: absolute;
  left: 0;
  bottom: 0;
  color: var(--dark-magenta);
  display: inline-flex;
  justify-content: space-between;
}

#contact:hover{
  cursor: pointer;
  scale: 1.1;
}
.modal {
  position: absolute !important;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

a{
  text-decoration: none;
}

