
/* TODO: Tint the  #profile-link white image to #a30052*/

#profile-link{
  position: absolute;
  right: 2.5vw;
  top: 40px;
  color: rgb(253, 179, 217) !important;
}
#profile-link:hover{
  transform: scale(1.2);

}

