<div class="navbar-block">
<nav class="navbar">
  <li class="nav-link" routerLink="/login" routerLinkActive="active">
    LOG IN
  </li>
  <li matRipple [matRippleColor]="myColor" class="nav-link"  routerLink="/register" routerLinkActive="active">
    REGISTER
  </li>
  <li  matRipple [matRippleColor]="myColor" class="nav-link"  routerLink="/database" routerLinkActive="active">
    DATABASE
  </li>
  <li matRipple [matRippleColor]="myColor" class="nav-link"  routerLink="/profile" routerLinkActive="active">
    PROFILE
  </li>
  <li matRipple [matRippleColor]="myColor" class="nav-link"  routerLink="/record" routerLinkActive="active">
    RECORD
  </li>
</nav>
</div>
<app-logo></app-logo>
<div id="menu-fun-bar"></div>
