<div class="info">
  @if(employees)
  {
  <div>
    <div id="whole-name" class="readable name">
      <p id="last-name">{{ employees["lastName"] }}, {{ employees["firstName"] }}</p>
    </div>
    <p id="role-title" class="readable">Role: {{ employees["roleID"] }}</p>
    <p id="department-name" class="readable">Department: {{ employees["departmentID"] }}</p>
  </div>
  <div class="emp">
    <img id="profile-pic" alt="user profile pic" ngSrc="/place-holder.png" height="240" width="240"/>
    <p id="emp-username" class="readable">Username: {{ employees["username"] }}</p>
    <p id="emp-email" class="readable">Email: {{ employees["email"] }}</p>
    <p id="emp-phone" class="readable">Phone: {{ employees["phoneNum"] }}</p>
  </div>
    }
</div>
