
#name-goes-here{
  font-size: 35px;

}


.readable{
  color: ghostwhite;
  border: 2px solid #6F779D;
  border-radius: 5px;
  margin-top: 15px;
  margin-left: 25px;
  padding: 10px;
}

.info{
  justify-content: space-between;
  font-size: 25px;
  display: flex;
  flex-direction: row;
}

#permissions{
  margin-left: 125px;
}

#position{
  margin-left: 100px;
}

#profile-pic{
  margin-right: 100px;
}
