<main class="container readable">
 <!-- @if(product || isNewProduct)
  {
    @if(isNewProduct)
    {
      <h1 class="mb-4">New Product</h1>
    } @else if(product)
    {
      <h1 class="mb-4">Product Details: {{ product.description }}</h1>
    } -->

    <form #recordForm="ngForm" (keyup)="submitFakeForm($event)" class="row g-3">
      <div *ngFor="let key of this.recordKeys" class="col-4">
        <label [for]="key" class="form-label">{{ key }}</label>
        <input class="form-control" [id]="key" [name]="key" [(ngModel)]="this.record[key]">
      </div>
      <button class="btn btn-primarys" type="button" id="save-record" (click)="this.putRecord($event)" [disabled]="!recordForm.pristine">OVERWRITE</button>
      <button class="btn btn-primary" type="button" id="delete-record" (click)="this.deleteRecord($event)" [disabled]="recordForm.pristine">DELETE</button>
    </form>

<!--
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
      <div id="toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <strong class="me-auto"></strong>
          <small>Now</small>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">

        </div>
      </div>
    </div>

-->

</main>
