
<main class="container readable">

    <form #recordForm="ngForm" (keyup)="submitFakeForm($event)" class="row g-3">
      <div *ngFor="let key of this.recordKeys" class="col-4 form-floating">
        <input class="form-control" [id]="key" [name]="key" [(ngModel)]="this.record[key]">

        <label [for]="key" class="form-label">{{ key }}</label>
      </div>
      <div class="w-100"></div>
      <div class="wtf">
      <button class="btn-primary btnnnn w-25" type="button" id="save-record" (click)="this.putRecord($event)" [disabled]="!recordForm.dirty">OVERWRITE</button>
        <button class="btn-primary btnnnn w-25" type="button" id="delete-record" (click)="this.deleteRecord($event)" [disabled]="!recordForm.pristine">DELETE</button>

      </div>
    </form>

</main>
