*{
  --dark-magenta: #a30052;
  --light-magenta: #e8e4d2;
  --glow-magenta: #f6a6d0;
  position: absolute;

}
img{
  position: absolute;
  top: 0;
  left: 0;
}
.electric-pulses{
  border-radius: 50%;
}
.thin-line{
  width: 3px;
  height: 3px;
  -webkit-box-shadow:0 0 10px var(--glow-magenta);
  -moz-box-shadow: 0 0 10px var(--glow-magenta);
  box-shadow:0 0 10px var(--glow-magenta);
}
.thick-line{
  width: 10px;
  height: 10px;
  -webkit-box-shadow:0 0 20px var(--glow-magenta);
  -moz-box-shadow: 0 0 20px var(--glow-magenta);
  box-shadow:0 0 20px var(--glow-magenta);
}

/*==========LINE 1============*/
.line-1 {
  animation: line-1-pulses 5s linear infinite;
}

@keyframes line-1-pulses{
  from{
    left: 20px;
    top: 50px;
    background-color: var(--dark-magenta)
  }
  28.66%{
    left: 237px;
    top: 50px;
    background-color: var(--light-magenta)
  }
  39.52%{
    left: 294px;
    top: 109px;
    background-color: var(--dark-magenta)

  }
  50.91%{
    left: 294px;
    top: 194px;
    background-color: var(--light-magenta)

  }
  69.23%{
    left: 393px;
    top: 292px;
    background-color: var(--dark-magenta)

  }
  to{
    left: 628px;
    top: 292px;
    background-color: var(--light-magenta)

  }
}


/*=====LINE 2=====*/
.line-2 {
  animation: line-2-pulses 3s linear infinite reverse;
}
@keyframes line-2-pulses {
  from{
    left: 202px;
    top: 363px;
    background-color: var(--dark-magenta)
  }
  36.08%{
    left: 202px;
    top: 461px;
    background-color: var(--light-magenta)
  }
  39%{
    background-color: var(--dark-magenta);
  }
  41%{
    background-color: var(--light-magenta);
  }
  43%{
    background-color: var(--dark-magenta);
  }
  45%{
    background-color: var(--light-magenta);
  }
  63.92%{
    left: 256px;
    top: 515px;
    background-color: var(--light-magenta)
  }
  to{
    left: 256px;
    top: 622px;
    background-color: var(--dark-magenta)
  }
}

/*==========LINE 3============*/
.line-3 {
  animation: line-3-pulses 10s linear infinite;
}

@keyframes line-3-pulses{
  from{
    left: 334px;
    top: 175px;
    background-color: var(--dark-magenta)
  }
  20.04%{
    left: 400px;
    top: 241px;
    background-color: var(--light-magenta)
  }
  58.83%{
    left: 580px;
    top: 241px;
    background-color: var(--dark-magenta)
  }
  70.09%{
    left: 618px;
    top: 203px;
    background-color: var(--light-magenta)
  }

  to{
    left: 754px;
    top: 203px;
    background-color: var(--dark-magenta)
  }
}

/*==========LINE 4============*/
.line-4 {
  animation: line-4-pulses 5s linear infinite reverse;
}

@keyframes line-4-pulses{
  from{
    left: 270px;
    top: 17px;
    background-color: var(--dark-magenta)
  }
  12.25%{
    left: 340px;
    top: 88px;
    background-color: var(--light-magenta)
  }
  17.52%{
    left: 340px;
    top: 130px;
    background-color: var(--dark-magenta)
  }
  28.3%{
    left: 402px;
    top: 191px;
    background-color: var(--light-magenta)
  }
  48.03%{
    left: 562px;
    top: 191px;
    background-color: var(--dark-magenta)
  }
  54.16%{
    left: 596px;
    top: 156px;
    background-color: var(--light-magenta)
  }
  to{
    left: 971px;
    top: 156px;
    background-color: var(--dark-magenta)
  }
}

/*==========LINE 5============*/
.line-5 {
  animation: line-5-pulses 3s linear infinite;
}

@keyframes line-5-pulses{
  from{
    left: 189px;
    top: 289px;
    background-color: var(--dark-magenta)
  }
  22.97%{
    left: 296px;
    top: 397px;
    background-color: var(--light-magenta)
  }
  38.59%{
    left: 296px;
    top: 499px;
    background-color: var(--dark-magenta)
  }
  64.86%{
    left: 419px;
    top: 621px;
    background-color: var(--light-magenta)
  }
  to{
    left: 654px;
    top: 621px;
    background-color: var(--dark-magenta)
  }
}
