<!--Image & Box-->
<div class="test-box" style="width: 1000px; height: 1000px;">
  <img ngSrc="/Untitled.png" height="1000" width="1000" alt="test-img">
</div>

<!--How to repeat a div-->
@for(i of [].constructor(10); track $index)
{
  <div>{{$index}}</div>
}

<!--Line 1-->
<div class="electric-pulses line-1 thin-line"></div>
<div class="electric-pulses line-1 thin-line" style="animation-delay: 1s;"></div>
<div class="electric-pulses line-1 thin-line" style="animation-delay: 2s;"></div>
<div class="electric-pulses line-1 thin-line" style="animation-delay: 3s;"></div>
<div class="electric-pulses line-1 thin-line" style="animation-delay: 4s;"></div>

<!--Line 2-->
<div class="electric-pulses line-2 thick-line"></div>

<!--Line 3-->
<div class="electric-pulses line-3 thin-line"></div>
<div class="electric-pulses line-3 thin-line" style="animation-delay: 1500ms;"></div>
<div class="electric-pulses line-3 thin-line" style="animation-delay: 2000ms;"></div>
<div class="electric-pulses line-3 thin-line" style="animation-delay: 3500ms;"></div>
<div class="electric-pulses line-3 thin-line" style="animation-delay: 4000ms;"></div>

<!--Line 4-->
<div class="electric-pulses line-4 thin-line"></div>
<div class="electric-pulses line-4 thin-line" style="animation-delay: 2s;"></div>
<div class="electric-pulses line-4 thin-line" style="animation-delay: 4s;"></div>
<div class="electric-pulses line-4 thin-line" style="animation-delay: 6s;"></div>
<div class="electric-pulses line-4 thin-line" style="animation-delay: 8s;"></div>
<div class="electric-pulses line-4 thin-line" style="animation-delay: 10s;"></div>

<!--Line 5-->
<div class="electric-pulses line-5 thin-line"></div>
<div class="electric-pulses line-5 thin-line" style="animation-delay: 500ms;"></div>
<div class="electric-pulses line-5 thin-line" style="animation-delay: 500ms;"></div>
<div class="electric-pulses line-5 thin-line" style="animation-delay: 500ms;"></div>

<!--Line 6-->
<div class="electric-pulses line-6 thin-line"></div>
<div class="electric-pulses line-6 thin-line" style="animation-delay: 1s;"></div>
<div class="electric-pulses line-6 thin-line" style="animation-delay: 2s;"></div>
<div class="electric-pulses line-6 thin-line" style="animation-delay: 3s;"></div>
<div class="electric-pulses line-6 thin-line" style="animation-delay: 4s;"></div>
<div class="electric-pulses line-6 thin-line" style="animation-delay: 5s;"></div>
<div class="electric-pulses line-6 thin-line" style="animation-delay: 6s;"></div>

<!--Line 7-->
<div class="electric-pulses line-7 thin-line"></div>
<div class="electric-pulses line-7 thin-line" style="animation-delay: 1s"></div>
<div class="electric-pulses line-7 thin-line" style="animation-delay: 2s"></div>
<div class="electric-pulses line-7 thin-line" style="animation-delay: 3s"></div>

<!--Line 8-->
<div class="electric-pulses line-8 thin-line"></div>
<div class="electric-pulses line-8 thin-line" style="animation-delay: 1s;"></div>
<div class="electric-pulses line-8 thin-line" style="animation-delay: 2s;"></div>


<!--Line 9-->
<div class="electric-pulses line-9 thin-line"></div>
<div class="electric-pulses line-9 thin-line" style="animation-delay: 500ms;"></div>
<div class="electric-pulses line-9 thin-line" style="animation-delay: 1s;"></div>
<div class="electric-pulses line-9 thin-line" style="animation-delay: 1500ms;"></div>
<div class="electric-pulses line-9 thin-line" style="animation-delay: 2s;"></div>


<!--Line 10-->
<div class="electric-pulses line-10 thin-line"></div>
<div class="electric-pulses line-10 thin-line" style="animation-delay: 750ms;"></div>
<div class="electric-pulses line-10 thin-line" style="animation-delay: 1500ms;"></div>


<!--Line 11-->
<div class="electric-pulses line-11 thin-line"></div>
<div class="electric-pulses line-11 thin-line" style="animation-delay: 750ms;"></div>
<div class="electric-pulses line-11 thin-line" style="animation-delay: 1500ms;"></div>
