<!--Image & Box-->
<div class="test-box" style="width: 1000px; height: 1000px;">
  <img ngSrc="/Untitled.png" height="1000" width="1000" alt="test-img">
</div>

<!--Line 1-->
<div class="electric-pulses line-1 thin-line"></div>
<div class="electric-pulses line-1 thin-line" style="animation-delay: 1s;"></div>
<div class="electric-pulses line-1 thin-line" style="animation-delay: 2s;"></div>
<div class="electric-pulses line-1 thin-line" style="animation-delay: 3s;"></div>
<div class="electric-pulses line-1 thin-line" style="animation-delay: 4s;"></div>

<!--Line 2-->
<div class="electric-pulses line-2 thick-line"></div>
<div class="electric-pulses line-2 thick-line" style="animation-delay: 250ms;"></div>

<!--Line 3-->
<div class="electric-pulses line-3 thin-line"></div>
<div class="electric-pulses line-3 thin-line" style="animation-delay: 1500ms;"></div>
<div class="electric-pulses line-3 thin-line" style="animation-delay: 2000ms;"></div>
<div class="electric-pulses line-3 thin-line" style="animation-delay: 3500ms;"></div>
<div class="electric-pulses line-3 thin-line" style="animation-delay: 4000ms;"></div>

<!--Line 4-->
<div class="electric-pulses line-4 thin-line"></div>
<div class="electric-pulses line-4 thin-line" style="animation-delay: 2s;"></div>
<div class="electric-pulses line-4 thin-line" style="animation-delay: 4s;"></div>
<div class="electric-pulses line-4 thin-line" style="animation-delay: 6s;"></div>
<div class="electric-pulses line-4 thin-line" style="animation-delay: 8s;"></div>
<div class="electric-pulses line-4 thin-line" style="animation-delay: 10s;"></div>

<!--Line 5-->
<div class="electric-pulses line-5 thin-line"></div>
<div class="electric-pulses line-5 thin-line" style="animation-delay: 500ms;"></div>
<div class="electric-pulses line-5 thin-line" style="animation-delay: 500ms;"></div>
<div class="electric-pulses line-5 thin-line" style="animation-delay: 500ms;"></div>
