@import "bootstrap/dist/css/bootstrap.min.css";
body{
  background-color: black;
}
:root{
  --dark-magenta: #a30052;
  --light-magenta: #fd8dc6;
  --dark-teal: #519da8;
  --ultraviolet-glow: #1900f8;
  --indigogo: #6F779D;
  --periwinkle: #ACBAD5;
  --midnight: #342D47;
  --greyrocking: #B8B9BB;

  --periwinkle-rgb: 172, 186, 213;

  --ultraviolet-glow-rgb: 25, 0, 248;

  --dark-magenta-rgb: 163, 0, 82;

  --dark-teal-rgb: 81, 157, 168;

  --indigogo-rgb: 111, 119, 157;

  --midnight-rgb: 52, 45, 71;

  --greyrocking-rgb: 184, 185, 187;

  --light-magenta-rgb: 253, 141, 198;
}
